In [24]:
import pandas as pd
import numpy as np
import scipy.stats as st

base_path = 'data/test/'

## test 1 - 50 samples

In [19]:
test1 = pd.read_csv(f'{base_path}/data_1245.csv')

In [ ]:
def provideStats(test_results):
    A,B,C,D = test_results['A'], test_results['B'], test_results['C'], test_results['D']
    observations = [A,B,C,D]

    d = {'mean': [np.mean(t) for t in observations], 
         'variance': [np.var(t) for t in observations], 
         '95_conf': [np.round(st.t.interval(0.95, len(t)-1, loc=np.mean(t), scale=st.sem(t)), decimals=3) for t in observations]}
    
    stats = pd.DataFrame(data=d, index=['A','B','C','D'])

    return stats

provideStats(test1)

       mean  variance          95_conf
A  1.170231  2.561326    [0.711, 1.63]
B  0.162140  0.349740  [-0.008, 0.332]
C  0.158782  1.660778  [-0.211, 0.529]
D  1.648091  3.591637   [1.104, 2.192]